.SearchComponent {
    padding: 0px 10px
}

.h1 {
    margin: 0;
}

.p10 {
    padding: 10px;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}

.multiSelect {
    text-align: left;
    margin: auto 0 !important;
    padding: 10px !important;
}

.box {
    background: #FFFFFF;
    padding: 10px;
    text-align: right;
}
.formControl {
    width: 100%; 
    /* padding: 10px */
}
